form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, textarea{
    margin: 5px 0;
    padding: 0px;
    width: 300px;

}

button {
    padding: 8px;
    background-color: #0000;
    color: white;
    border: none;
    cursor: pointer;



}